<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-link" > <a href="{{ url_for('user') }}">User</a> </button>
    <button type="button" class="btn btn-link" > <a href="{{ url_for('project') }}"> Project</a> </button>
    <button type="button" class="btn btn-link" > <a href="{{ url_for('facultymembers') }}"> Faculty Members</a> </button>
    <button type="button" class="btn btn-link" > <a href="{{ url_for('scomment') }}"> Comments </a> </button>
    <button type="button" class="btn btn-link"> <a href="{{ url_for('arole') }}"> user access  role  </a> </button>
</div>