<p> Please select the course name </p>

<p>
<div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Select Course
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">All</a>
        <a class="dropdown-item" href="#">course 1</a>
        <a class="dropdown-item" href="#">course 2</a>
        <a class="dropdown-item" href="#">course 3</a>

    </div>

</div>

</p>