{% extends 'base.html' %}

{% block content %}

<br><br>
<div class="container">
  <p>Kindly share your feedback about the your self assessment and your project organisation. so that we can implement your suggestions and make it better for future students. </p>
  <form  method="POST">
    <textarea name="comment" class="feedbacktext"></textarea>
    <br>
    <br>
      <button type="submit">Submit</button>
  </form>
  <p><i>Note: need to add a message successfully submited form</i></p>
</div>


{% endblock %}
