


<table class="fsstatus">
  <!-- <caption>Self Assessment </caption> -->
 <tr>
   <th scope="col">Project Name</th>
   <th scope="col">group Number</th>
   <th scope="col">Student Name</th>
   <th scope="col">Assessment status</th>
   <th scope="col">Email Reminder</th>
 </tr>
 <tr>

   <td>{ Content description }</td>
   <td>{ Content description }</td>
   <td>{ Content description }</td>
   <td><span class="dot"></span></td>
   <td> <a href="#">link</a></td>

 </tr>
 <tr>

   <td>{ Content description }</td>
   <td>{ Content description }</td>
   <td>{ Content description }</td>
   <td><span class="dot"></span></td>
   <td> <a href="#">link</a></td>

 </tr>
 <tr>

   <td>{ Content description }</td>
   <td>{ Content description }</td>
   <td>{ Content description }</td>
   <td><span class="dot"></span></td>
   <td> <a href="#">link</a></td>

 </tr>
</table>
<br>
<br>
