{% extends 'base.html' %}

{% block content %}


<div class="jumbotron">
    <p>Hey <b> {{user.firstName}} {{user.lastName}}</b>, welcome to self assessmnet Admin dashboard<p>
</div>



<br><br>


  <div class="satab">
    <h2>Student assesment Status</h2>
    <p>{self assessment table for submitting for the group members}</p>

    {% include 'other/emailtemp.html'%}

    <br>

    <p>For sending email reminders to all students who hasn't filled the assessment
      <form action="{{ url_for ('emailall') }}">
        <button class="btn btn-outline-primary" type="submit"> Send Reminder to All </button>
      </form>
    </p>
    <br>

    {% include 'status/asstatus.html' %}

    
    <p>To export or download the results</p>
    
    <div class="row">  
      <div clas="col">
    <form action="{{url_for('eval')}}" method="POST">
      <button class="btn btn-outline-dark" type="submit" name="button"> <span class="glyphicon glyphicon-save"></span>
        Export result to excel</button>
    </form>
    </div>
    
    <div class="col">
    <form action="{{url_for('emailself')}}" method="POST">
      <button  class="btn btn-outline-dark" type="submit" name="button">Mail the result to Myself</button>

    </form>
    </div>
    </div>

  </div>


  <br><br>

<h3>checkout the data from the databse </h3>

{% include 'other/adbdata.html' %}


<!-- project uploader  -->
<br><br>
<h2>Uploaders </h2>
<br>
<div class= "sarules project">
  <p><b>Project Details </b></p>
  <p>Upload the latest file containig the project details, student details and their group assignment here </p>
  <br>
  <form class="fupload" action="/pupload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value=Upload />
  </form>
  <br>
click her <a href="">Preview </a>  to view the uploaded project details 

</div>

<br><br>
<!-- User data uploader -->
<div class="sarules project">
  <p><b>User Details </b></p>
  <p>Upload the latest file containig the student details, who should have access to this portal</p>
  <br>
  <form class="fupload" action="" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value=Upload />
  </form>
  <br>
  click her <a href="">Preview </a> to view the student details 
</div>

<br><br>


<!-- rubic cube uploader -->
<div class="sarules">
  <p><b>category Rubics </b></p>  
  <br>
  <form class="fupload" action="/uploader" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value=Upload />
  </form>
  <br>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            Category Rubics Rules
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p>{% include 'other/rubics.html'%}</p>
        </div>
      </div>
    </div>
  </div>

  </div>
{% endblock %}
