{% extends 'base.html' %}

{% block content %}


<div class="jumbotron">
    <p> <h4> Hey <b> {{user.firstName}} {{user.lastName}}</b>, Welcome to Self Assessmnet Admin Dashboard </h4><p>
</div>


<br><br>


  <div class="satab">
    <h2>Student Assessment Status</h2>
    <br>
    {% include 'other/emailtemp.html'%}

    <br>

    <p>For sending email reminders to all students who hasn't filled the assessment
      <form action="{{ url_for ('emailall') }}">
        <button class="btn btn-outline-primary" type="submit"> Send Reminder to All </button>
      </form>
    </p>
    <br>

    {% include 'status/asstatus.html' %}
    <hr class="featurette-divider">
    <br>
    <br>
    <h3>To Download or Export the results</h3>
    <br>
    <div class="container">
    <div class="row">  
      <div clas="col">
    <form action="{{url_for('download')}}" method="POST">
      <button class="btn btn-primary" type="submit" name="button"> <span class="glyphicon glyphicon-save"></span>
        Export result to excel</button>
    </form>
    </div>
    
    <div class="col">
    <form action="{{url_for('emailself')}}" method="POST">
      <button  class="btn btn-primary" type="submit" name="button">Mail the result to Myself</button>

    </form>
    </div>
    </div>
    </div>

  </div>


  <br><br>

  <hr class="featurette-divider">

  <div class="jumbotron">
<h3>Checkout the data in the database </h3>
<br>

{% include 'other/adbdata.html' %}

</div>
<hr class="featurette-divider">


<!-- project uploader  -->
<br><br>

<h2>Uploaders </h2>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- project data uploader -->
      <p><b>Project Details </b></p>
      <p>Upload the latest file containig the project details, student details and their group assignment here </p>
      <br>
      <form class="fupload" action="/pupload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"> <br><br>
        <input type="submit" value=Upload />
      </form>
      <br>
      click her <a href="/project">Preview </a> to view the uploaded project details
    </div>
    <div class="col-sm">
      <!-- user data uploader -->
    <p><b>User Details </b></p>
    <p>Upload the latest file containig the User details, who should have access to this portal</p>
    <br>
    <form class="fupload" action="/uupload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file"> <br><br>
      <input type="submit" value=Upload />
    </form>
    <br>
    click her <a href="/user">Preview </a> to view the Faculty details

    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm">
      <!-- faculty uploader-->
      <p><b>Faculty Details </b></p>
      <p>Upload the latest file containig the faculty details, who should have access to this portal</p>
      <br>
      <form class="fupload" action="/fdupload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"> <br><br>
        <input  type="submit" value=Upload />
      </form>
      <br>
      click her <a href="/facultymembers">Preview </a> to view the Faculty details

    </div>
    <div class="col-sm"></div>
    </div>
  </div>
 
<br><br>

<!-- rubic cube uploader -->
<div class="container">
  <p><b>Category Rubric </b></p>  
  <p>Upload the latest rubric file </p>
  <br>
  <form class="fupload" action="/uploader" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value=Upload />
  </form>
  <br>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#categoryrubric"
            aria-expanded="false" aria-controls="collapseThree">
            Category Rubrics Rules
          </button>
        </h2>
      </div>
      <div id="categoryrubric" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p>{% include 'other/rubics.html'%}</p>
        </div>
      </div>
    </div>
  </div>

  </div>

  <br><br>
  

{% endblock %}
