{% extends 'base.html' %}

{% block content %}
<br><br>
<h2>The project Database overview</h2>
<br><br>
<table>
    <tr>
        <th>Student Id</th>
        <th>Last Name </th>
        <th>First Name</th>
        <th>Group No</th>
        <th>Title</th>
        <th>Supervisor</th>
        <th>Co Supervisor</th>
        <th>Assessment Status</th>
    </tr>

    {% for p in proj %}  
    <tr>
        <th>{{p.userId}}</th>
        <th>{{p.lastName}} </th>
        <th>{{p.firstName}}</th>
        <th>{{p.groupNo}}</th>
        <th>{{p.title}}</th>
        <th>{{p.supervisor}}</th>
        <th>{{p.coSupervisor}}</th>
        <th>{{p.assessmentStatus}}</th>
    </tr>

    {% endfor %} 

</table>





{% endblock %}