{% extends 'base.html' %}

{% block content %}
<br><br>
{% include 'other/adbdata.html' %}
<br><br>
<h2>  users in the database</h2>

<table class="table-hover table table-bordered ">
  <thead>
  <tr>
    <th>User ID </th>
    <th>Emails</th>
    <th>password </th>
  </tr>
  </thead>
  <tbody>
  {% for user in users %}
  <tr>
    <td> {{ user.userId }} </td>
    <td>{{ user.email }}</td>
    <td>{{ user.password }}</td>
  </tr>
  
  {% else %}
  
  <h3>No users yet!</h3>
  
  {% endfor %}
  </tbody>

</table>


{% endblock %}
