{% extends "base.html" %}

{% block content %}
  
    

    <div class="jumbotron">
      

      <h2>Welcome to "System and Computer Engineering Department" <br> <br><b> Self Assessment Portal </b></h2>
    
      <hr class="my-4">
      <p>Introduction about the portal </p>
      
      <p class="lead">

        <div>
        {% if home %}
        <h5>You are already Logged In </h5>
        
        {% else %}
        <h5>Lets get started</h5>
        <p>Please Login to access the Portal</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
        {% endif %}
        
        </div>
        
      </p>
      
    </div>
    

    <div class=" container landing-page">
     
      <h5> <b> Instructions to access the portal: </b></h5>
        <br>
      <ol>
       <li> To access Self assessment website you need to be on Carleton Network </li>
       <li> Student have to use their cmail email account to login to the we application
            <ul>-sample : "****@cmail.carleton.ca"</ul>

       </li>
       <li>Once you submit the login request, an email will to be sent to the registered Id
         <ul>
           <li>If you think you are an authorised user but still can't login kindly contact to Admin staff to have access to the portal</li>
           <li>No email will be sent to unauthorized Email Id's </li> </ul>
       </li>

       <li>It uses a token based validation and the token will be valid for 10 minutes. If the token expires you have to request it again </li>
       <li>For students after succcessfully login to the portal, they will be redirected to the Student dashboard which will have all the information about them and their respective groups
         <ul> <li> If there is any incorrect information , please reach out to Admin staff to address the issue before submitting the assessment </li>
          <li>You can also share your feedback about the portal at the end of assessment </li>
        </ul>

       </li>
      </ol>
       
    
    
    </div>
{% endblock %}
