{% extends "base.html" %}

{% block content %}
    <div>
      <h3> Welcome to System and Computer Engineering <br><b> Self Assessment Portal </b> </h3>
    </div>
    <br><br>
    {% if home %}
      <h3>Lets get started</h3>

    {% else %}
      <p>Please  Login <a href="{{ url_for('login') }}"> Login </a></p>
    {% endif %}

    <div class="container">
      <p><a href="{{ url_for('sdash') }}">student Dashboard</a> </p>
      
      
    </div>

    <div class="landing-page">
      <p> welcome students to the self assesment portal for you projects</p>
      
      <p>procedure how to login to the portal</p>
      <ul>1. to use the same credentials for the 4th year project</ul>
       
    
    </div>
{% endblock %}
