{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <p> Hi  <b> {{ name }} </b> please submit your Assessment for your group members in the table below</p>

  </div>

  <p class="note"> <b>Note</b> Please find the details about the rubix below </p>
  <div class="satab">
    <p>{% include 'other/samatrix.html' %}</p>
    <!-- <button type="button" onclick="location.href='{{ url_for('fsa') }}'" name="button">Next</button>  -->
  </div>
  <div class="sarules">
    <h2>Category Rubics</h2>
    <p>{% include 'other/rubics.html' %}</p>
  </div>

{% endblock %}
