{% extends 'base.html' %}

{% block content %}

<div class="container col-md-6 login-form test-center">

    <form class="form-signin" action='/login' method="post">

        
            <h1 class="h3 mb-3 sm-3 font-weight-normal">Self Assessment Application</h1>
            <p>Login To access the self assessment portal</p>
            <p>Its a token based authentication system </p>
            <br>
        
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder=" Carleton Email address" required>
            <br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        
       
    </form>



</div>



{% endblock %}
